= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h3= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label t('.name')
    %br
    = f.text_field :name
  .field
    = f.label t('.email')
    %br
    = f.text_field :email
  .field
    = f.label t('.password')
    %br
    = f.password_field :password

    %div{:style=>"padding-top:10px; padding-bottom:25px;"}
      = f.submit t(".create_account")

