= form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h3= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  %div{:style=>"background-color:#C7D0CC;  box-shadow:0 0 15px #0E294B; padding:50px;  opacity:0.85; width:300px;"}
    .field
      = f.label t('.name')
      %br
      = f.text_field :name
    .field
      = f.label t('.email')
      %br
      = f.text_field :email
    .field
      = f.label t('.password')
      %br
      = f.password_field :password
      %div{:style=>"padding-top:10px;"}
        = f.submit t(".create_account")

